torch==2.9.1
transformers==4.57.1
sentence-transformers==5.1.2
accelerate==1.11.0
peft==0.18.0
numpy==2.3.4
pandas==2.3.3
scipy==1.16.3
scikit-learn==1.7.2
gensim==4.4.0
spotipy==2.25.1
streamlit==1.51.0
python-dotenv==1.0.0